<div id='laksa-card' class='mobile-card'>

  <div class='mobile-card-img'>
      <%= image_tag 'zoo.jpeg' %>
  </div>
  <div class='mobile-card-content'>
    <div class="mobile-card-header">
      <h2>LAKSA</h2>
      <h2>¥1700</h2>
    </div>
    <div class='mobile-card-text'>
      <p>The Sinkies Signature. A savoury spices and seafood broth balanced with coconut cream.</p>
      <p>Served with rice vermicelli, yellow noodles, and assorted toppings.</p>
      <p>"Extra Spicy" option also available for heat lovers!</p>

      <div style="text-align:center"
      data-controller='modal'
      data-action='click->modal#popdown'>
        <i class="fa-regular fa-circle-xmark"></i>
      </div>

    </div>

  </div>

</div>
