
<%# bottom half is info %>
<%# info has name of dish, price, sub description, description %>


<div id='laksa-card' class='mobile-card'>
<%# make card div that is size of screen %>
<%# top half is picture %>

  <div class='mobile-card-img'>
      <%= image_tag 'zoo.jpeg' %>
  </div>
  <div class='mobile-card-img'>
    <%= image_tag 'zoo.jpeg' %>
  </div>

</div>
