<div id='nasi-card' class='mobile-card'>

  <div class='mobile-card-img'>
      <%= image_tag 'zoo.jpeg' %>
  </div>
  <div class='mobile-card-content'>
    <div class="mobile-card-header">
      <h2>NASI LEMAK</h2>
      <h2>¥1700</h2>
    </div>
    <div class='mobile-card-text'>
      <p>A Malay favourite. Savoury coconut perfumed rice, spice-fried chicken,
      sambal chilli and assorted toppings.</p>
      <br>
      <p style='line-height:1'>Options:<br>
      Choice of bone-in chicken leg or breast | per availability</p>

      <div style="text-align:center"
      data-controller='modal'
      data-action='click->modal#popdown'>
        <i class="fa-regular fa-circle-xmark"></i>
      </div>

    </div>

  </div>

</div>
