<div id='kaya-card' class='mobile-card'>

  <div class='mobile-card-img'>
      <%= image_tag 'zoo.jpeg' %>
  </div>
  <div class='mobile-card-content'>
    <div class="mobile-card-header">
      <h2>Kaya Toast</h2>
      <h2>¥1000</h2>
    </div>
    <div class='mobile-card-text'>
      <p>A popular all-day breakfast.
      Toast, coconut jam, and soft-boiled eggs.
      Easily enjoyed seperately or with the eggs as a savoury dip for the toast.</p>
      <p style='line-height:1'>Options:<br>
      Types of jam: Gula Melaka, Pandan, Coffee, Tea <br>
      Choice of drink: Kopi or Teh
      </p>

      <div style="text-align:center"
      data-controller='modal'
      data-action='click->modal#popdown'>
        <i class="fa-regular fa-circle-xmark"></i>
      </div>

    </div>

  </div>

</div>
