<div id='puff-card' class='mobile-card'>

  <div class='mobile-card-img'>
      <%= image_tag 'zoo.jpeg' %>
  </div>
  <div class='mobile-card-content'>
    <div class="mobile-card-header">
      <h2>CURRY PUFF</h2>
      <h2>¥400</h2>
    </div>
    <div class='mobile-card-text'>
      <p>Potato and chicken curry encased in pastry.</p>
      <br>
      <p style='line-height:1'><br>
      </p>

      <div style="text-align:center"
      data-controller='modal'
      data-action='click->modal#popdown'>
        <i class="fa-regular fa-circle-xmark"></i>
      </div>

    </div>

  </div>

</div>
