<div class='navbar'>
 <%= image_tag "logo/main_logo.png", class: "navbar-logo" %>
  <ul class="navbar-list">
    <li>MENU</li>
    <li>SPACE</li>
    <li>PROMOTION</li>
    <li>ABOUT</li>
    <li>CONTACT</li>
    <li>RESERVATIONS</li>
  </ul>
</div>

 <i class="fa-solid fa-bars fa-xl"></i>
