<div class='page'>

  <%= render "navbar" %>
  <div class='page-content'>
    <div class='gridbox'>

      <div class="image-card"
      data-controller='modal'
      data-action='click->modal#popup'>
        <%= image_tag 'zoo.jpeg', class: "preview" %>
        <div class="invisible">
          <%= render "main1" %>
        </div>
      </div>




    </div>
  </div>
</div>

<div id='overlay'>
</div>
