<div class='page'>

  <%= render "navbar" %>
  <div class='page-content'>
    <%= render "main1" %>
    <div class='gridbox'
    >

      <div class="image-card"
      data-controller='modal'
      data-action='click->modal#popup'>
        <%= image_tag 'zoo.jpeg' %>
      </div>



    </div>
  </div>
</div>

<div id='overlay'>
</div>
