// General card rules
.invisible {
  display: none;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

#selected-item {
  background-color: white;
  position: fixed;
  z-index: 3;
}


//IMAGE ONLY CARD --------------------------------------------------------------

.image-card {
  // width: 300px;
  // height: 300px;
  object-fit: contain;
  border-radius: 4px;
  justify-self: center;
  pointer-events: auto;

  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  :hover {
    cursor: pointer;
  }
}

@media (max-width: 460px) {
  .image-card {
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 720px) and (min-width: 461px){
  .image-card {
    width: 186px;
    height: 186px;
  }
}

@media (min-width: 721px) {
  .image-card {
    width: 300px;
    height: 300px;
  }
}

//MOBILE SIZED CARD ------------------------------------------------------------
.mobile-card {
  height: 720px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mobile-card-img {
  height: 50%;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mobile-card-content {
  height: 50%;
}

.mobile-card-header {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 4px;
  font-family: 'Strait', sans-serif;

  h2 {
    margin: 0;
  }
}

.mobile-card-text {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

// @media (max-width: 500px) and (min-width: 431px) {
//   .mobile-card {
//     margin-left: auto;
//     margin-right: auto;
//     width: 460px;
//   }
// }

@media (max-width: 900px) {
  #selected-item {
    position: absolute;
  }
}

@media (min-width: 901px) {
  .mobile-card {
    width: 800px;
    height: 360px;
    flex-direction: row;;
    background-color: white;
    padding: 40px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .mobile-card-img {
    height: 100%;
    width: 50%;
  }

  .mobile-card-content {
    width: 50%;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  #selected-item {
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
