@import "color&font";

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: black;
}

.page-content {
  flex-grow: 1;
  background-color: $green_background;
  position: relative;
}

.gridbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 20px;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  top: 0px;
}

@media (max-width: 360px) {
  .gridbox {
    gap: 20px;
    padding: 30px;
  }
}

@media (max-width: 640px) and (min-width: 500px) {
  .gridbox {
    gap: 28px;
    padding: 52px;
  }
}

@media (max-width: 1319px) and (min-width: 720px) {
  .gridbox {
    padding-top: 30px;
    padding-left: 52px;
    padding-right: 52px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1320px) {
  .gridbox {
    padding-top: 30px;
    padding-left: 52px;
    padding-right: 52px;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 2;
  pointer-events: none;
}

// #overlay.active {
//   opacity: 1;
// }
